<div class="container">
    <mat-dialog-content>
      <ul id="main-list">
        <li>
          <h1 mat-dialog-title id="title">Mot Secret</h1>
        </li>
        <li class="main-element">
          <div id="authentication">
            <form>
              <input type="text" id="secret" name="secret" [(ngModel)]="input">
            </form>
          </div>
        </li>
        <li class="main-element">
          <button mat-button (click)="checkSecret()">Submit</button>
          <button mat-button (click)="close()">Close</button>
        </li>
      </ul>
    </mat-dialog-content>
  </div>